# Ignore Hugo build output
# ？？？ “ We should put this folder into our version control and reuse its data across builds. This folder is one of the critical ingredients for getting outstanding performance with Hugo”
/public/
/resources/

# Ignore node_modules if using npm/yarn
/node_modules/

# Ignore OS files
.DS_Store

# Ignore editor files
*.swp
*.swo
*.bak

# Ignore log files
*.log

# Ignore the man
man/
